
section { 
  width: 100%
}
.section1 {

  /* Location of the image */
 /*  background-image: url(../img/green-gradient.png), url(../img/bg.jpg); */

 /* Background image is centered vertically and horizontally at all times */
  background-position: center bottom, center center;

  /*Background image doesn't tile */
  background-repeat: repeat-x, no-repeat;

  /* ckground image is fixed in the viewport so that it doesn't move when
     th content's height is greater than the image's height */
  /*background-attachment: fixed;*/

  /* Thiis what makes the background image rescale based
     on the container's size */
  background-size: auto, cover;

  background-color: #fff;

  /*position: absolute; top: 0; bottom: 0; left: 0; right: 0;*/

  height: 100vh;

  width: 100%;
  max-width: 100%;

  }


.top-bar {
  height: 67px;
  background: transparent;
  overflow: auto;
}

.top-bar-links {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.top-bar .pricing {
  margin-right: 2rem;
}



/*
.hide-for-small-only {
  
}

*/


.pricing {}

.client-login {}


.center {
  text-align: center;
} 

.clear {
  clear: both;
}

.italic {
  font-style: italic;
}

.intro-button {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.feature-icon {
  max-height: 76px;
  width: auto;
}

.faq-page p {
  max-width: 45rem;
}

.faq-page .italic {
  font-size: 1.282rem;
  font-style: normal;
  max-width: 55rem !important;
}

footer { 
  background-color: #f6f6f6;
  padding: 6rem 0;
}

.reveal {
    padding: 1rem 3rem;
}