/*

@font-face {
  font-family: 'Brela';
  src: url('Blaregular.otf');
}

@font-face {
  font-family: 'Muller';
  src: url('Muller-ExtraBold.otf');
}*/


html,body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
  }

/*h1,h2,h3,h4,h5,h6{font-family: 'Muller', sans-serif;}*/
h1,h2,h3,h4,h5,h6{font-family: sans-serif;}

body {
 /* font-family: 'Brela', serif;*/
 color: #0b0b0b;
}

/*.brela {
  font-family: 'Brela', serif;
}*/


section { 
  width: 100%;
  padding: .625rem;
  margin: 0 auto;
  overflow: auto;
}

img {
  max-width: 96%;
}

.button.hollow {
  background-color: rgba(254,254,254,0.95);
}
.section1 {

  /* Location of the image */
 /*  background-image: url(../img/green-gradient.png), url(../img/bg.jpg); */
background-image: url(../img/bg-enhanced2.jpg);


 /* Background image is centered vertically and horizontally at all times */
/*  background-position: center bottom, center center;*/
  background-position: center center;

  /*Background image doesn't tile */
/*  background-repeat: repeat-x, no-repeat;*/

  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     th content's height is greater than the image's height */
  /*background-attachment: fixed;*/

  /* Thiis what makes the background image rescale based
     on the container's size */
/*  background-size: auto, cover;*/
  background-size: cover;

  background-color: #fff;

  /*position: absolute; top: 0; bottom: 0; left: 0; right: 0;*/

  min-height: 100vh;

  width: 100%;
  max-width: 100%;
  position: relative;


  }

.slick-carousel .hero {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#hero0 {
  background-image: url(../img/phone-onsite.jpg);
}

#hero1 {
  background-image: url(../img/phone-holding2.jpg);
}

#hero2 {
  background-image: url(../img/phone-group-2.jpg);
}



.top-bar {
    height: 67px;
    background: transparent;
    overflow: auto;
    padding: .25rem .5rem;
    display: block;
    max-width: 64rem;
    margin: 0 auto;
    position: relative;
}

.top-bar-links {
  position: absolute;
  right: 2rem;
  top: 1.2rem;
  font-size: 0.9rem
}

.top-bar .pricing {
  margin-right: 2rem;
}

.section2 .large-12, .all-container{
    max-width: 64rem;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
}


p {
  font-size: 2rem;
  max-width: 37.5rem;
}

li, .feature p {
  font-size: 1.25rem;
}



/*
.hide-for-small-only {
  
}

*/
ol, ul {
  padding: 1rem !important;
  margin-left: 1rem;
}

.pricing {}

.client-login {}


.center {
  text-align: center;
} 

.right {
  text-align: right !important; 
}

.feature .center {
  text-align: left !important;
}

.text-left {
  text-align: left;
}

.clear {
  clear: both;
}

.italic {
  font-style: italic;
  font-family: 'Brela', serif;
}

.italic.underline {
  font-family: inherit;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  border-bottom: 1px solid;
}

h1, h2, h3, h4, h5, h6 {
/*  font-family: 'Alegreya Sans','Georgia', sans-serif;
  font-weight: 800;*/
  font-size: 2rem;
}

.smalltxt {
  font-size: 1.25rem;
}

.xltxt {
  font-size: 2.75rem;
}

.float-none {
  float: none !important;
}

.intro-button {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.device {
 margin-top: 3rem;
  margin-right: 4%;
  position: relative;
  top: .62rem;
}

.code-link{     margin: 0 .05rem; color: #0b0b0b !important; font-size: 1.25rem}

.feature {
  margin-top:0.5rem;
  margin-bottom:1rem;
}

.feature-icon {
  max-height: 76px;
  width: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.feature h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;

}

.circle {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background: #ddddef;
  display: inline-block;
}

.circle p {
  margin-top: 36%;
  font-size: 1.85rem;
}

.opening-headline {
  margin-top: 3.14rem;
}

.convert-to-code-tagline {
  margin-top: 1.62rem;
  margin-bottom: 2rem;
}

.section-the-code {
  background-color: #2d2b26;
  color: #fff;
  
}

#how-it-works {
  margin-top: 3rem;
}

#how-it-works-visual {
  text-align: center;
}

.how-it-works-visual-img {
  max-width: 30% !important;
  height: auto;
}

.section-pricing {
  background-color: #f6fee4;
}


#the-code-title {
  margin-top: 10rem;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .circle {

  width: 17rem;
  height: 17rem;
  }
}
/* Medium and up */
@media screen and (min-width: 40em) {


  section { 
    padding: 1.625rem;
  }

    .circle {

  width: 20rem;
  height: 20rem;
  margin: 1rem;
  max-width: 100%
  }

  .feature {
    padding-right: 6rem !important;
    padding-left: 2rem !important; /* TODO: should be for large displays only (too much for medium); */
  }


.intro-button {
  margin-left: 0.62rem !important;
  margin-right: 0.62rem !important;
}

.device {
  position: relative;
  top: 1rem;
  margin-top: 4rem;
}
}


@media screen and (min-width: 40em) {
  h1 {
      font-size: 4rem;
  }
}

.faq-page p {
  max-width: 45rem;
}

.faq-page .italic {
  font-size: 1.282rem;
  font-style: normal;
  max-width: 55rem !important;
}

footer { 
  background-color: #f6f6f6;
  padding: 6rem 0;
}

.caption {
  font-size: .9rem;
}

.reveal {
    padding: 1rem 3rem;
}

.button.hollow:hover, .button.hollow:focus {
      background: rgba(254,254,254,.9);
      background-color: rgba(254,254,254,.9);
       }

.top-link, .top-link:hover, .top-link:focus {
      border: 1px solid #ddd;
      border-color: rgba(254,254,254,0.1);
      border-bottom: 1px solid #0c4d78;
      padding: .4em .62em;
      color: #0c4d78 !important;
      background-color: rgba(254,254,254,0.2);
      transition: all 0.5s ease;

       }
    .top-link:hover, .top-link:focus { 
      border: 1px solid #2199e8;
      color: #2199e8 !important;
      background-color: rgba(254,254,254,0.8);
    }


.section-responsive-features a {
  font-weight: bold;
}
.section-the-code a {
  color: #fbaa41;
}
.section-the-code .dropdown-pane a {
  color: #2199e8;
}

.down-arrow {
    position: relative;
    left: 50%;
    top: .5rem;
    margin-left: -.325rem;
    width: .65rem;
    height: .65rem;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIyLjA2MiAyMi4wNjIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIyLjA2MiAyMi4wNjI7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4Ij4KPGc+Cgk8cGF0aCBkPSJNMTAuNTQ0LDExLjAzMWw2Ljc0Mi02Ljc0MmMwLjgxLTAuODA5LDAuODEtMi4xMzUsMC0yLjk0NGwtMC43MzctMC43MzcgICBjLTAuODEtMC44MTEtMi4xMzUtMC44MTEtMi45NDUsMEw0Ljc2OSw5LjQ0M2MtMC40MzUsMC40MzQtMC42MjgsMS4wMTctMC41OTcsMS41ODljLTAuMDMxLDAuNTcxLDAuMTYyLDEuMTU0LDAuNTk3LDEuNTg4ICAgbDguODM1LDguODM0YzAuODEsMC44MTEsMi4xMzUsMC44MTEsMi45NDUsMGwwLjczNy0wLjczN2MwLjgxLTAuODA4LDAuODEtMi4xMzQsMC0yLjk0M0wxMC41NDQsMTEuMDMxeiIgZmlsbD0iIzIxOTllOCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

}
.right-arrow {
    position: relative;
    margin-left: -.125rem;
    top: -.08rem;
    width: .65rem;
    height: .65rem;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

}

#how-it-works-button {
  padding-bottom: 1rem;
}

.based {
  font-size: 133%;
  width: 80%;
}

#in-person {
  font-size: 75%;
}