

@font-face {
  font-family: 'Muller';
  src: url('Muller-ExtraBold.otf');
}

@font-face {
  font-family: 'Brela';
  src: url('brelarefular.otf');
}


html,body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
  }

h1,h2,h3,h4,h5,h6{font-family: 'Muller', sans-serif;}

body {
 /* font-family: 'Brela', serif;*/
}

.brela {
  font-family: 'Brela', serif !important;
}


section { 
  width: 100%;
  padding: .625rem;
  margin: 0 auto;
}

img {
  max-width: 96%;
}

.button.hollow {
  background-color: rgba(254,254,254,0.8);
}
.section1 {

  /* Location of the image */
 /*  background-image: url(../img/green-gradient.png), url(../img/bg.jpg); */
background-image: url(../img/bg-enhanced2.jpg);


 /* Background image is centered vertically and horizontally at all times */
/*  background-position: center bottom, center center;*/
  background-position: center center;

  /*Background image doesn't tile */
/*  background-repeat: repeat-x, no-repeat;*/

  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     th content's height is greater than the image's height */
  /*background-attachment: fixed;*/

  /* Thiis what makes the background image rescale based
     on the container's size */
/*  background-size: auto, cover;*/
  background-size: cover;

  background-color: #fff;

  /*position: absolute; top: 0; bottom: 0; left: 0; right: 0;*/

  min-height: 100vh;

  width: 100%;
  max-width: 100%;

  }


.top-bar {
  height: 67px;
  background: transparent;
  overflow: auto;
  padding: .25rem .5rem;
}

.top-bar-links {
  position: absolute;
  right: 2rem;
  top: 1.2rem;
  font-size: 0.9rem
}

.top-bar .pricing {
  margin-right: 2rem;
}



/*
.hide-for-small-only {
  
}

*/
ol, ul {
  padding: 1rem !important;
  margin-left: 1rem;
}

.pricing {}

.client-login {}


.center {
  text-align: center;
} 

.right {
  text-align: right !important; 
}

.feature .center {
  text-align: left !important;
}

.text-left {
  text-align: left;
}

.clear {
  clear: both;
}

.italic {
  font-style: italic;
  font-family: 'Brela', serif;
}

.italic.underline {
  font-family: inherit;
}
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  border-bottom: 1px solid;
}

h1, h2, h3, h4, h5, h6 {
/*  font-family: 'Alegreya Sans','Georgia', sans-serif;
  font-weight: 800;*/
}

.float-none {
  float: none !important;
}

.intro-button {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.device {
 margin-top: 3rem;
  margin-right: 4%;
  position: relative;
  top: .62rem;
}



.feature {
  margin-top:0.5rem;
  margin-bottom:1rem;
}

.feature-icon {
  max-height: 76px;
  width: auto;
}

.feature h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;

}

.circle {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background: #ddddef;
  display: inline-block;
}

.circle p {
  margin-top: 36%;
  font-size: 1.85rem;
}

.opening-headline {
  margin-top: 3.14rem;
}

.convert-to-code-tagline {
  margin-top: 1.62rem;
  margin-bottom: 2rem;
}

.section-the-code {
  background-color: #2d2b26;
  color: #fff;
  
}

#how-it-works {
  margin-top: 3rem;
}

.section-pricing {
  background-color: #f6fee4;
}


#the-code-title {
  margin-top: 10rem;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .circle {

  width: 17rem;
  height: 17rem;
  }
}
/* Medium and up */
@media screen and (min-width: 40em) {


  section { 
    padding: 1.625rem;
  }

    .circle {

  width: 20rem;
  height: 20rem;
  margin: 1rem;
  max-width: 100%
  }

  .feature {
    padding-right: 6rem !important;
    padding-left: 2rem !important; /* TODO: should be for large displays only (too much for medium); */
  }


.intro-button {
  margin-left: 0.62rem !important;
  margin-right: 0.62rem !important;
}

.device {
  position: relative;
  top: 1rem;
  margin-top: 4rem;
}
}


@media screen and (min-width: 40em) {
  h1 {
      font-size: 4rem;
  }
}

.faq-page p {
  max-width: 45rem;
}

.faq-page .italic {
  font-size: 1.282rem;
  font-style: normal;
  max-width: 55rem !important;
}

footer { 
  background-color: #f6f6f6;
  padding: 6rem 0;
}

.caption {
  font-size: .9rem;
}

.reveal {
    padding: 1rem 3rem;
}



.top-link, .top-link:hover, .top-link:focus {
      border: 1px solid #ddd;
      border-color: rgba(254,254,254,0.1);
      border-bottom: 1px solid #0c4d78;
      padding: .4em .62em;
      color: #0c4d78 !important;
      background-color: rgba(254,254,254,0.2);
      transition: all 0.5s ease;

       }
    .top-link:hover, .top-link:focus { 
      border: 1px solid #2199e8;
      color: #2199e8 !important;
      background-color: rgba(254,254,254,0.8);
    }


.section-the-code a {
  color: #fbaa41;
}
.section-the-code .dropdown-pane a {
  color: #2199e8;
}

#2199e8