

@font-face {
  font-family: 'Muller';
  src: url('Muller-ExtraBold.otf');
}


section { 
  width: 100%;
  padding: 2em;
  margin: 0 auto;
}

img {
  max-width: 96%;
}
.section1 {

  /* Location of the image */
 /*  background-image: url(../img/green-gradient.png), url(../img/bg.jpg); */

 /* Background image is centered vertically and horizontally at all times */
  background-position: center bottom, center center;

  /*Background image doesn't tile */
  background-repeat: repeat-x, no-repeat;

  /* ckground image is fixed in the viewport so that it doesn't move when
     th content's height is greater than the image's height */
  /*background-attachment: fixed;*/

  /* Thiis what makes the background image rescale based
     on the container's size */
  background-size: auto, cover;

  background-color: #fff;

  /*position: absolute; top: 0; bottom: 0; left: 0; right: 0;*/

  height: 100vh;

  width: 100%;
  max-width: 100%;

  }


.top-bar {
  height: 67px;
  background: transparent;
  overflow: auto;
}

.top-bar-links {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.top-bar .pricing {
  margin-right: 2rem;
}



/*
.hide-for-small-only {
  
}

*/
ol, ul {
  padding: 1rem !important;
  margin-left: 1rem;
}

.pricing {}

.client-login {}


.center {
  text-align: center;
} 

.feature .center {
  text-align: left !important;
}

.text-left {
  text-align: left;
}

.clear {
  clear: both;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  border-bottom: 1px solid;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muller','Georgia',sans-serif;
}

.float-none {
  float: none !important;
}

.intro-button {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.feature {
  margin-top:0.5rem;
  margin-bottom:1rem;
}

.feature-icon {
  max-height: 76px;
  width: auto;
}

.feature h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;

}

.circle {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background: #ddddef;
  display: inline-block;
}

.circle p {
  margin-top: 39%;
  font-size: 1.85rem;
}

.convert-to-code-tagline {
  margin-top: 3rem;
  margin-bottom: 2rem;
}


/* Small only */
@media screen and (max-width: 39.9375em) {
  .circle {

  width: 17rem;
  height: 17rem;
  }
}
/* Medium and up */
@media screen and (min-width: 40em) {
    .circle {

  width: 20rem;
  height: 20rem;
  margin: 1rem;
  max-width: 100%
  }
}


@media screen and (min-width: 40em) {
  h1 {
      font-size: 4rem;
  }
}

.faq-page p {
  max-width: 45rem;
}

.faq-page .italic {
  font-size: 1.282rem;
  font-style: normal;
  max-width: 55rem !important;
}

footer { 
  background-color: #f6f6f6;
  padding: 6rem 0;
}

.caption {
  font-size: .9rem;
}

.reveal {
    padding: 1rem 3rem;
}