/* HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp { border: 0; margin: 0; padding: 0; font-size: 100%; zoom: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote { list-style:none; }

h1, h2, h3, h4, h5, h6 { line-height:normal; font-weight:normal; }

a { text-decoration: none; outline:none; cursor:pointer; }

b, strong { font-weight: bold; }

img { color: transparent; font-size: 0; vertical-align: middle; border:none; -ms-interpolation-mode: bicubic; }

ul, li { display: list-item; list-style:none; }

table { border-collapse: collapse; border-spacing: 0; }

th, td, caption { font-weight: normal; vertical-align: top; text-align: left; }

svg { overflow: hidden; }

/* Form Elements */

input[type="checkbox"] { margin:0 4px; width: 13px; height: 13px; padding: 0; vertical-align: middle; position: relative; top: -1px; *overflow: hidden;} /*checkbox alignement*/

input, textarea, select { outline:none; margin:0; font-family:inherit; }

textarea{ overflow:auto; resize:none;}


/* General Stlyes*/

*, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body { font:14px/1.5 "Open Sans", Arial, Helvetica, sans-serif; background: #f6f6f6; color:#333; text-align:left; }

a, input, select, textarea{-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}

a:active{-webkit-transition: all 0.05s ease-out; -moz-transition: all 0.05s ease-out; -o-transition: all 0.05s ease-out; transition: all 0.05s ease-out;}

a { }

a:hover { }

/*floats*/

.right { float:right; }

.left { float:left; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }


/* Tyopgraphy Styles*/

.align_left{ text-align:left;}

.align_center{ text-align:center;}

.align_right{ text-align:right;}

.green{ color:#fff;}

.white{color:#554236}

.blue{color:#554236}

.yellow{color:#ffee00}

.orange{color:#ffa679}

.red{color:#fff}

.grey_bg{ background:#fff;}

.showcase h3{color:#554236;}

.showcase p{color:#554236;}

h1, h2, h3, h4, h5{ line-height:1.1;}

h1{ font-size:50px; font-weight:700; text-align:left; text-shadow:0 1px 2px rgba(0,0,0,0.3); margin-bottom:34px;}

h2{ font-size:30px; font-weight:700; text-align:left; color:#ff9933; text-shadow:0 0px 0px rgba(0,0,0,0.3); margin-bottom:30px;}

h3{ font-size:22px; line-height:1.3; font-weight:300; color:#60B99A; margin-bottom:20px;}

h4{}

h5{ color:#554236; font-weight:700; font-size:16px; margin-bottom:20px;}

img{ max-width:100%; height:auto;}


/* forms */

input[type="text"], input[type="password"], select, textarea{ background:#F1EFA5; border-radius:5px; -webkit-border-radius:5px; border:none; padding:12px; color:#60B99A; font-size:16px; vertical-align:top; }

input[type="text"], input[type="password"]{ height:42px;}

input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus{ background:#F0A218; color:#fff;}

input[type="text"]:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color:#F0A218;}

input[type="text"]:focus:-moz-placeholder, textarea:focus:-moz-placeholder { color:#F0A218;}

input[type="text"].error, input[type="password"].error, textarea.error{ background:#674a53; color:#F07160;}

input[type="text"].error::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder { color:#F07160;}

input[type="text"].error:-moz-placeholder, textarea.error:-moz-placeholder { color:#F07160;}

#contact_form input[type="text"]::-webkit-input-placeholder, #contact_form textarea::-webkit-input-placeholder { color:#554236;}

input[type="submit"], .button{ background:#60B99A; color:#fff; border-radius:5px; -webkit-border-radius:5px; padding:0 12px; font-size:22px; border:none; height:42px; line-height:normal; cursor:pointer; display:inline-block;}

.button{ font-size: 16px; height:52px; line-height:52px; padding:0 30px;}

.button.large{ height:64px; line-height:64px; font-size:24px; font-weight:700;}

.button.blue{ background:#F0A218;}

input[type="submit"]:hover, .button:hover{ background:#F0A218;}

.button.blue:hover{ background:#D3CE3D;}

#contact_form input{ margin-bottom:7px; width:100%;}

#contact_form textarea{ width:100%; height:238px;}

#contact_form .grid-1-2{ margin-bottom:10px;
    padding-right: 7px;
}

#contact_form input[type="submit"]{width:99%}


/* grid */

.grid{}

[class*='grid-'] { float: left; position: relative; }

.grid-1-2{ width:50%;}

.grid-1-3{width:33.33%;}

.grid-2-3{ width:66.66%;}

.grid-1-4{width:100%; padding:0 10px;}

.reviewers a.grid-1-4 {
  margin-bottom:22px;
}
/* .grid-1-2:first-child, .grid-1-3:first-child, .grid-2-3:first-child, .grid-1-4:first-child{ padding-left:0;} */

/* Main Styles*/

.wrap{ position:relative; margin:0 auto; max-width:960px; padding:0 15px;}

#header{ background:#fff; border-top:1px solid #ccc; border-bottom:0px solid #ccc; height:auto; padding:7px 10px; position:relative; left:0; right:0; top:0; z-index:5; box-shadow:0 1px 8px 0 rgba(0,0,0,0.1); -webkit-box-shadow:0 1px 8px 0 rgba(0,0,0,0.1); }

#logo { display: block; padding-bottom: 10px; text-align: center; width: 100%; }

#nav{ height:auto; padding::;px 0; clear: both; display: block;}

#nav ul { margin-top: 12px; text-align: center; }

#nav li{ float:none; margin-left:2px; display: inline-block; }

#nav li a{ /*font-size:22px;*/ font-size: 16px; font-weight:300; color:#666; display:block; height:48px; line-height:46px; padding:0 26px; border-radius:5px; -webkit-border-radius:5px;}

#nav li a:hover{ color:#ff9933;}

#nav li.current a{ background:#F0A218; color:#fff;}

.promo{ background:#27293a; border:solid #554236; border-width:0; padding:40px 0;}
.promo {
  /* fallback */
  background-color: #f7941f;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7941f), to(#ffcc33));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ffcc33, #f7941f);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ffcc33, #f7941f);

  /* IE 10 */
  background: -ms-linear-gradient(top, #ffcc33, #f7941f);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ffcc33, #f7941f);
}

.promo h1{ padding-bottom:15px; border-bottom:1px solid #FFDD86;}

.promo p{ color:#8F4500; font-size:26px; font-weight:300; margin-bottom:15px;}

.showcase{ background:#FCC00D; border:solid #ffa679; border-width:0; padding:40px 0 40px; position:relative;}

.showcase:after{ position:absolute; content:""; left:0; right:0; bottom:0; height:40px;}

#main_content{border:solid #D3CE3D; border-width:0;}

#main_content section{ padding: 50px 0;}

.bullets{ margin-bottom:20px;}

.bullets li{ background:url(../images/bullet.png) no-repeat left 8px; padding-left:25px; font-size:18px; font-weight:300; margin-bottom:10px;}

.how .wrap{ background:url(../images/gear.png) right bottom no-repeat;}

.ordered_list{ margin-bottom:20px;}

.ordered_list li{ padding-left:50px; font-size:22px; font-weight:300; margin-bottom:15px; position:relative;}

.ordered_list .number{background:url(../images/ordered_list_bullet.png) no-repeat; position:absolute; left:0; top:0; display:block; width:34px; height:34px; line-height:34px; text-align:center; color:#f6f6f6;}

.profiles{ text-align:center;}

.profiles .name{ text-align:center; color:#60B99A; margin-bottom:5px;}

.profiles img{ margin-bottom:10px;}

.profiles p{ text-align:left; margin-bottom:35px;}

.contact{border:solid #448dc8; border-width:0; background: #FCC00D;

 padding:40px 0;}

.contact h2{ color:#fff; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);}

.contact .say_hi{ padding-top:25px; padding-left:25px;}

.contact .say_hi img{ position:absolute; left:0; top:0;}

.contact .say_hi h3{ margin-bottom:40px;}

.contact_list li{ height:32px; line-height:32px; position:relative; margin-bottom:30px; padding-left:50px; color:#554236; font-size:19px; font-weight:300;}

.contact_list .icon{ background:url(../images/contact_icons.png) no-repeat; width:32px; height:32px; display:inline-block; position:absolute; left:0; top:0;}

.contact_list .mail{ background-position: left -61px;}

.contact_list .skype{ background-position: left -129px;}

#errorContainer ul{ display:none; color:#f07160; font-size:13px; margin-bottom:15px; background:#393d4f; padding:15px; border-radius: 5px; -webkit-border-radius: 5px;}

/* footer */

#footer{ background:#fff; padding:20px 0; color:#575e64; text-align:right;}















/* new */

.new {
    padding: 128px 0 40px;
	/* fallback */
  background-color: #f7941f;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7941f), to(#ffcc33));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ffcc33, #f7941f);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ffcc33, #f7941f);

  /* IE 10 */
  background: -ms-linear-gradient(top, #ffcc33, #f7941f);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ffcc33, #f7941f);
}

.new .psd {
    background: none repeat scroll 0 0 #044C96;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 29px -20px black inset;
    color: #41CEFD;/* #044C96;*/
    display: inline-block;
    padding: 5px 8px;
}

.new .rwd {
    /*background: none repeat scroll 0 0 #CDCDCD;*/
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 29px -20px black inset;
    /*color: #41CEFD;*/
    display: inline-block;
    height: 65px;
    position: relative;
    top: -5px;
	margin-right: 10px;
}

.new .rwd img {
	padding: 0 6px;
}

.new h1 {
    color: #FFF;
	text-align:center;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.new .tag {
    display: block;
    margin-bottom: 30px;
    margin-top: -10px;
    text-align: center;
	font-size: 16px;
}

.panel {
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: #D9D9D9;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25em;
    padding: 1.25em;
	padding-left: 140px;
	position: relative;
}

.panel h2 {
	color: #F0A218;
	text-align: left;
	margin-bottom: 10px;
}

.owl {
    float: left;
    left: 7px;
    position: absolute;
    top: -5px;/*
	top: 130px;*/
    /*width: 230px;*/
	width: 130px;
}

.panel del {
	color: rgba(0,0,0,.5)
}

.panel .teal {
	color: #60B99A;
	font-weight: bold;
}

.callout {
    font-size: 20px;
    margin-bottom: 10px;
}

.team, .browsers, .how{
	background: #f6f6f6;
}

.panel {
background: #F1EFA5;
border-color: #F08E12;
}

.showcase {
	background: white;
}













@media screen and (max-width: 599px ){
	h1{ font-size:36px; font-weight:700; text-align:left; margin-bottom:34px;}
	h2{ font-size:28px; font-weight:700; text-align:left;   margin-bottom:30px;}
	h3{ font-size:16px; line-height:1.3; font-weight:300;  margin-bottom:20px;}
	#contact_form div { margin: 0!important; padding: 0; width: 100%; }
	.grid-1-3.say_hi {
		clear: both;
		display: block;
		width: 100%;
	}
.grid-1-2{ width:100%; padding: 0 20px; }
.grid-1-3{width:100%;}
.grid-2-3{ width:100%;}
.grid-1-4{width:100%; padding:0 10px;}
	
	.browsers img{margin-bottom: 20px;}
	.wrap{ padding:0 10px; }
	#header{ padding:7px 0px;}
	#nav { position: relative; min-height: 40px; }	
	#nav ul { width: 100%; padding: 0; position: absolute; top: 0; left: 0; background: #F1EFA5; border-radius:5px; -webkit-border-radius:5px;}
	#nav li { display: none; margin: 0; }
	#nav .current { display: block; }
	#nav a { display: block; padding: 5px 5px 5px 32px; text-align: left; }
 	#nav ul:hover li { display: block; margin: 0 0 5px; }
 	
 	#contact_form input[type="submit"] {width: 98.5%; margin-top:10px;}
}

@media screen and (min-width: 450px) {
	.grid-1-4{width:50%; padding:0 10px;}
	.button{ font-size: 22px; }
	.owl { top: 5px; }
  .browsers h3 {padding-left:24px;}
}

@media screen and (min-width: 930px) {
	.grid-1-4{width:25%; padding:0 10px;}
	.owl { width: 180px; }
	.panel { padding-left: 190px; }
  .browsers h3 {padding-left:0;}
  .reviewers a.grid-1-4 { margin-bottom:0;
}
}

@media screen and (min-width: 930px) {
	#header.sticky + .promo{ margin-top:76px;}
	#header{ height:88px; position:fixed; }
	#nav{ height:48px; float: right; clear: none; display: inline-block}
	#nav li { float: left; }
	#logo { display: inline; padding-bottom: 0px; text-align: left; width: auto; }
	#logo img { float: left; margin-top: 5px;}
	.owl { width: 230px; }
	.panel { padding-left: 240px; }
}

#pricing {
  background: #fff;
  overflow: auto;
}
.large-4 {
  width:33%;
  float: left;
  padding: 1.25em;
}
.pricing-table {
  border: solid 1px #dddddd;
margin-left: 0;
margin-bottom: 1.25em;
}
.pricing-table .title {
background-color: #dddddd;
padding: 0.9375em 1.25em;
text-align: center;
color: #333;
font-weight: bold;
font-size: 22px;
}
.pricing-table .price {
background-color: #eeeeee;
padding: 0.9375em 1.25em;
text-align: center;
color: #333333;
font-weight: normal;
font-weight: 700;
font-size: 16px;
}
.pricing-table .description {
background-color: white;
padding: 0.9375em;
text-align: center;
color: #777777;
font-size: 14px;
font-weight: normal;
line-height: 1.4;
border-bottom: dotted 1px #dddddd;
}
.pricing-table .bullet-item {
background-color: white;
padding: 0.9375em;
text-align: center;
color: #333333;
font-size: 14px;
font-weight: normal;
border-bottom: dotted 1px #dddddd;
}
.pricing-table .cta-button {
background-color: whitesmoke;
text-align: center;
padding: 1.25em 1.25em;
}
.teal {
  color: #60B99A;
  font-weight: bold;
}

@media screen and (max-width: 799px) {
  #pricing .large-4 {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .panel { padding: 1.25em; }
  .panel .owl { float: none; position: relative; width:60%; height: auto; max-width:230px;}
  .panel .button {width:100%; text-align:center;}
}
@media screen and (max-width: 720px) {
  .panel { padding: 1.25em; }
  .panel .owl { float: none; position: relative; width:60%; height: auto; max-width:230px;}
  
}


.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.45);
  z-index: 98;
  display: none;
  top: 0;
  left: 0;
  z-index: 98;
  }

.reveal-modal {
  visibility: hidden;
  display: none;
  position: absolute;
  left: 50%;
  z-index: 99;
  height: auto;
  margin-left: -40%;
  width: 80%;
  background-color: white;
  padding: 1.25em;
  border: solid 1px #666666;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 50px; }
  .reveal-modal .column,
  .reveal-modal .columns {
    min-width: 0; }
  .reveal-modal > :first-child {
    margin-top: 0; }
  .reveal-modal > :last-child {
    margin-bottom: 0; }
  .reveal-modal .close-reveal-modal {
    font-size: 1.375em;
    line-height: 1;
    position: absolute;
    top: 0.5em;
    right: 0.6875em;
    color: #aaaaaa;
    font-weight: bold;
    cursor: pointer; }
  .reveal-modal h2 {
    color: #F0A218;
    z-index: 99;
  }

@media only screen and (min-width: 768px) {
  .reveal-modal {
    padding: 1.875em;
    top: 6.25em; }
    .reveal-modal.tiny {
      margin-left: -15%;
      width: 30%; }
    .reveal-modal.small {
      margin-left: -20%;
      width: 40%; }
    .reveal-modal.medium {
      margin-left: -30%;
      width: 60%; }
    .reveal-modal.large {
      margin-left: -35%;
      width: 70%; }
    .reveal-modal.xlarge {
      margin-left: -47.5%;
      width: 95%; } }
@media print {
  .reveal-modal {
    background: white !important; } }

/* Text Selection Colors */
::-moz-selection {
    background-color: #60B99A;
    color: #fff;
}

::selection {
    background-color: #60B99A;
    color: #fff;
}